<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="morpher" type="Morpher.AppConfig.ConfigurationSectionHandler, Morpher.AppConfigFactory"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<morpher>
    <objects>
      <add name="WebServiceClient" type="Morpher.WebService.V2.Client, Morpher.WebService.V2">
        <!-- Не забудьте сменить логин и пароль на свои: http://morpher.ru/Register.aspx -->
        <parameters url="http://morpher.ru/WebService.asmx" username="vasily_p" password="secret"/>
      </add>
    </objects>
    <interfaces>
      <add object="WebServiceClient" interface="Morpher.Russian.IDeclension, Morpher.API"/>
      <add object="WebServiceClient" interface="Morpher.Ukrainian.IDeclension, Morpher.API"/>
      <add object="WebServiceClient" interface="Morpher.Russian.INumberSpelling, Morpher.API"/>
      <add object="WebServiceClient" interface="Morpher.Ukrainian.INumberSpelling, Morpher.API"/>
    </interfaces>
  </morpher></configuration>
