<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyDox" version="2.0.39" targetFramework="net48" />
  <package id="EasyDox.Morpher" version="2.0.30" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
  <package id="Morpher.API" version="1.0.9" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net48" developmentDependency="true" />
</packages>